.insert-description {
    display: flex;
    justify-content: space-between;
}

.insert-description p {
    margin-right: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.insert-container {
    display: flex;
    justify-content: space-between;
}

.insert-description {
    color: red;
}

.iteration {
    height: 150px;
    overflow-y: auto;
}