  <p>  
    <!--
        The expansion panel, it has a header - that may containt title and description -
        and it's main content, displayed when the user clicks on it, revealing itself as
        it expands the panel with more data
    -->
    <mat-expansion-panel hideToggle>
        <!-- Header -->
        <mat-expansion-panel-header>
            <!-- 
                The title displays the length and diameter
                inputed in the desired geometry
            -->
            <mat-panel-title
                class="panel-title"
            >
                {{geometry.start}}mm - {{geometry.end}}mm ({{geometry.diameter}}mm)
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!--
            bellow the header is the main content, displayed when the user clicks it
            the div of class iteration will have each insert and parameter and the styles
            for the main container of them
        -->

        <div
            class="iteration"
        >
            <!-- 
                iterates each insert and parameter from the geometry 
                the values displayed receive are
                outputed with the .toFixed() method
                to define the decimal places
            -->
            @for (ins_pam of geometry.insertsAndParameters; 
            track geometry.insertsAndParameters) {

                <!-- It will display the number of the iteration -->

                <mat-divider></mat-divider>

                <h3>{{$index + 1}}.</h3>

                <div
                    class="out-tracer"
                >
                    <div
                        class="img-container"
                    >
                        <img [src] = "getInsertImg(ins_pam[0].iso)" alt="" class="insertImg">
                    </div>

                    <!-- Container with each space with data -->
                    <div
                        class="container"
                    >
                        <!--
                            Data space, designed in the css
                            to contain 3 data-description 
                            elements
                        -->
                        <div
                            class="data-container"
                        >    
                                <!-- Data description with the Iso -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Iso:</strong> {{ins_pam[0].iso}}
                                </span>

                                <!-- Data description with the Geometry -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Geometria: </strong>{{ins_pam[0].geometry}}
                                </span>

                                <!-- Data description with the Class -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Classe: </strong>{{ins_pam[0].class}}
                                </span>

                        </div>

                        <!-- Container with each space with data -->
                        <div
                            class="data-container"
                        >   

                                <!-- Data description with the Vc -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Velocidade de corte: </strong>{{ins_pam[0].vc.toFixed(2)}} m/min
                                </span>

                                <!-- Data description with the Fn -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Avanço: </strong>{{ins_pam[0].fn.toFixed(2)}} mm/r
                                </span>

                                <!-- Data description with the Ap -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Profundidade de corte: </strong>{{ins_pam[0].ap.toFixed(2)}} mm
                                </span>
                        </div>

                        <!-- Container with each space with data -->
                        <div
                            class="data-container"
                        >
                                <!-- Data description with the Condition -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Condição: </strong>{{ins_pam[0].condition}}
                                </span>

                                <!-- Data description with the Material -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Material: </strong>{{ins_pam[0].material}}
                                </span>

                                <!-- Data description with the Iso -->
                                <span
                                    class="data-description"
                                >
                                    <strong>Uso: </strong>{{ins_pam[0].machine}}®
                                </span>
                        </div>
                        
                        <!-- Container with each space with data -->
                        <div
                            class="data-container"
                        >
                            <!-- Data description with the RPM -->
                            <span
                                class="data-description"
                            >
                                <strong>RPM: </strong>{{ins_pam[1].rpm.toFixed(2)}} r/min
                            </span>

                            <!-- Data description with the Machining Time -->
                            <span
                                class="data-description"
                            >
                                <strong>Tempo de Usinagem: </strong>{{ins_pam[1].machiningTime.toFixed(2)}} min
                            </span>

                            <!-- Data description with the Metal Remotion Rate -->
                            <span
                                class="data-description"
                            >
                                <strong>Taxa de Remoção: </strong>{{ins_pam[1].metalRemotionRate.toFixed(2)}} cm3/min
                            </span>

                            <span
                                    class="data-description"
                            >
                                    <strong>Operação: </strong>{{ins_pam[0].operation}}
                            </span>
                        </div>

                    </div>

                </div>
            }
                        
        </div>
    </mat-expansion-panel>
</p>

<!-- hr line to separate the end of the panel from the others -->
<hr />