  <p>  
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
        <mat-panel-title>
            teste
        </mat-panel-title>
        <mat-panel-description> 
        </mat-panel-description>
        </mat-expansion-panel-header>
        @for(relation of insertsAndParameters; track insertsAndParameters) 
        {
            <p>{{relation[1].rpm}}</p>
            <p>{{relation[0].material}}</p>
            <p>{{relation[0].condition}}</p>
        }
    </mat-expansion-panel>
</p>