  <p>  
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{geometry.start}}mm - {{geometry.end}}mm ({{geometry.diameter}}mm)
        </mat-panel-title>
        <mat-panel-description> 
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div
            class="iteration"
        >
            @for (ins_pam of geometry.insertsAndParameters; 
            track geometry.insertsAndParameters) {
                <mat-divider></mat-divider>
                <h5>{{$index + 1}}</h5>
                <div
                    class="container"
                >
                    <div
                        class="insert-container"
                    >    
                            <span
                                class="insert-description"
                            >
                                Iso: {{ins_pam[0].iso}}
                            </span>

                            <span
                                class="insert-description"
                            >
                                Geometria: {{ins_pam[0].geometry}}
                            </span>


                            <span
                                class="insert-description"
                            >
                                Classe: {{ins_pam[0].class}}
                            </span>

                    </div>

                    <div
                        class="insert-container"
                    >   
                            
                            <span
                                class="insert-description"
                            >
                                Velocidade de corte: {{ins_pam[0].vc}}
                            </span>

                            <span
                                class="insert-description"
                            >
                                Avanço: {{ins_pam[0].fn}}
                            </span>


                            <span
                                class="insert-description"
                            >
                                Profundidade de corte: {{ins_pam[0].ap}}
                            </span>
                    </div>

                    <div
                        class="insert-container"
                    >
                            <span
                                class="insert-description"
                            >
                                Condição: {{ins_pam[0].condition}}
                            </span>


                            <span
                                class="insert-description"
                            >
                                Material: {{ins_pam[0].material}}
                            </span>


                            <span
                                class="insert-description"
                            >
                                Uso: {{ins_pam[0].machine}}
                            </span>
                    </div>
                    
                    <div
                        class="insert-container"
                    >
                        <span
                            class="insert-description"
                        >
                            RPM: {{ins_pam[1].rpm.toFixed(2)}}
                        </span>

                        <span
                            class="insert-description"
                        >
                            Tempo de Usinagem: {{ins_pam[1].machiningTime.toFixed(2)}}
                        </span>

                        <span
                            class="insert-description"
                        >
                            Taxa de Remoção: {{ins_pam[1].metalRemotionRate.toFixed(2)}}
                        </span>
                    </div>
                </div>
            }
                        
        </div>
    </mat-expansion-panel>
</p>
<hr />