.insert-description {
    display: flex;
    justify-content: space-between;
}

.insert-description p {
    margin-right: 50px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
}

.insert-container {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-bottom: 15px;
}

.insert-description {
    padding: 5px;
    color: red;
}

.iteration {
    height: 150px;
    overflow-y: auto;
}