/*
  table tag stylized to occupy all of it's parent width and have margin in the bottom and top
*/
table {
    width: 100%;
    margin: 50px 0 50px 0;
}

.table-insert {
  width: 40px;
  height: 40px;
}