<p>
  <!-- First toolbar element: title -->
  <mat-toolbar
    class="toolbar t1"
  >
    <!-- Title of the page -->
    <h1>IUSINAGEM</h1>
  </mat-toolbar>

  <!-- Second toolbar element: links -->
  <mat-toolbar
    class="toolbar t2"
  >
    <!-- First link - IFBA home page -->
    <a
      class="link"
      href="https://portal.ifba.edu.br/"
    >
      <mat-icon>
        home
      </mat-icon>
      <span
        class="text"
      >
      Instituto Federal de Educação, Ciência e Tecnologia da Bahia
      </span>
    </a>

    <!-- Spacer -->
    <span
      class="spacer"
    >
    </span>
  
    <!-- Second link - github source code page -->
    <a
      class="link"
      href="https://github.com/Samuel-Pinheiro-C-Lopes/Iusinagem-v1"
    >
      <mat-icon>
        code
      </mat-icon>
      <span
        class="text"
      >
        Código
      </span>
    </a>

  </mat-toolbar>
</p>