<mat-tab-group
    style="width: 100%;"
>
    <mat-tab 
        label="First"
        style="width: 100%;"
    >
        <div
            class="pdf-container"
        >
            <pdf-viewer 
                [src]="'./assets/catalogs/SandvikCoromantFerramentasdeCorte2019.pdf'"
                [render-text]="true"
                [original-size]="false"
                style="width: 100%; height: 100%"
            >
        </pdf-viewer>
        </div>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>