<p>
    <!-- Mat Stepper component -->
    <mat-stepper
        #stepper
        [linear] = 'true'
        (selectionChange)="selectionChange()"
        [orientation]="(stepperOrientation | async)!"
    >
        <!-- First step - enter with the product intendend -->
        <mat-step>
                <!-- Title of the step since it's tagged as 'matStepLabel' -->
                <ng-template matStepLabel>Insira a peça</ng-template>

                <mat-divider></mat-divider>
                <!-- 
                    A form field labeled as 'Peça' with a mat-select element which has an ngFor directive - with it's new
                    syntax - that iterates the elements array within stepper component's ts code, showing it's content
                    as the options for the selection
                -->
                <mat-form-field>
                    <mat-label>Peça</mat-label>
                    <mat-select
                        required
                        [(ngModel)]="process_config.element"
                    >
                        @for (element of elements; track elements;) {
                            <mat-option [value] = "element">{{ element }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-divider></mat-divider>

                <!-- 
                    Div that contains the stepper's buttons, having each one an attribute for the action it has to take in the
                    stepper 
                -->
                <div class="step-btns">
                    <button color= "primary" disabled mat-flat-button>Anterior</button>
                    <button color="primary" mat-flat-button matStepperNext>Próximo</button>
                </div>
        </mat-step>

        <!-- Second step, enter with the attributes that the product has before it's turning - like diameter, condition and others -->
        <mat-step>
            <!-- Title of the step since it's tagged as 'matStepLabel' -->
            <ng-template matStepLabel>Estado pré-usinagem</ng-template>

            <mat-divider></mat-divider>

            <!-- 
                A form field labeled as 'Diâmetro (mm)' with a input designed to add the measurement typed by the user in the 
                'process_config' object within the stepper component's ts code. It's of type number - only accepting that type
                of value - and has the matInput attribute for style and behavior
            -->
            <mat-form-field>
                <mat-label>Diâmetro (mm)</mat-label>
                <input 
                    [(ngModel)] = "process_config.preDiameter"
                    required 
                    matInput 
                    type="number" 
                />
            </mat-form-field>

            <!-- 
                A form field labeled as 'Comprimento (mm)' with a input designed to add the measurement typed by the user in the 
                'process_config' object within the stepper component's ts code. It's of type number - only accepting that type
                of value - and has the matInput attribute for style and behavior
            -->
            <mat-form-field>
                <mat-label>Comprimento (mm)</mat-label>
                <input 
                    [(ngModel)] = "process_config.preLength"
                    required 
                    matInput 
                    type="number" 
                />
            </mat-form-field>

            <!-- 
                A form field labeled as 'Condição' with a mat-select element which has an ngFor directive - with it's new
                syntax - that iterates the elements array within stepper component's ts code, showing it's content
                as the options for the selection
            -->
            <mat-form-field>
                <mat-label>Condição</mat-label>
                <mat-select
                    [(ngModel)] = "process_config.condition" 
                    required
                >
                    @for (condition of conditions; track conditions) {
                        <mat-option [value] = "condition.toLowerCase()">{{ condition }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <!-- 
                A form field labeled as 'Material' with a mat-select element which has an ngFor directive - with it's new
                syntax - that iterates the elements array within stepper component's ts code, showing it's content
                as the options for the selection
            -->
            <mat-form-field>
                <mat-label>Material</mat-label>
                <mat-select 
                    [(ngModel)] = "process_config.material"
                    required
                >
                    @for (material of materials; track materials) {
                        <mat-option [value] = 'material.toLowerCase()'>{{ material }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-divider></mat-divider>

            <!-- 
                Div that contains the stepper's buttons, having each one an attribute for the action it has to take in the
                stepper 
            -->
            <div class="step-btns">
                <button color = "primary" mat-flat-button matStepperPrevious>Anterior</button>
                <button color = "primary" mat-flat-button matStepperNext>Próximo</button>
            </div>
        </mat-step>

        <!-- Third step - enter with the product's external dimensions -->
        <mat-step>
            <!-- Title of the step since it's tagged as 'matStepLabel' -->
            <ng-template matStepLabel>Geometria Externa do produto</ng-template>

            <mat-divider></mat-divider>
            
            @if (process_config.productsExternalGeometry.length) 
            {
                <!-- 
                    ngFor directive with the new syntax from the most recent version of Angular - 17.3.1 -, in the case below, it creates form fields according to parts
                    of the object - each input's binded data changes based in it's actual iteration -, allowing the user to create multiple especifications
                    toward the process
                    productsExternalGeometry is an array of objects within the process_config objects, created to keep the length in which a determined diamater
                    is set, according to the data inputed by the user 
                -->
                @for (geometry of process_config.productsExternalGeometry; track process_config.productsExternalGeometry) {
                    <!-- Mat-icon responsible for binding it's own (click) event to an function that removes the determined geometry-->
                    <mat-icon 
                        class="close-icon" 
                        (click) = "removeGeometry('external', $index)"
                    >
                        close
                    </mat-icon>
                    <p
                        class="geometry-title"
                    >
                        <!-- if the start of the measurement isn't inputed, it just shows '?? mm-?? mm' and, when the user inputs some data, it changes according -->
                        Trecho: {{(geometry?.start != undefined) ? (geometry?.start) : '?? ' }}mm-{{(geometry?.end != undefined) ? (geometry?.end) : '?? '}}mm  
                        (Diâmetro: {{(geometry?.diameter != undefined) ? (geometry?.diameter) : '?? '}})
                    </p>
                    <div
                        class="form-container-3"
                    >
                        <!-- 
                            A form field labeled as 'Início (mm)' with a input designed to add the measurement typed by the user in the 
                            'process_config' object within the stepper component's ts code. It's of type number - only accepting that type
                            of value - and has the matInput attribute for style and behavior
                        -->                   
                        <mat-form-field>
                            <mat-label>Início (mm)</mat-label>
                            <input 
                                type="number"
                                [(ngModel)] = "geometry.start"
                                matInput 
                                required
                            />
                        </mat-form-field>

                        <!-- 
                            A form field labeled as 'Fim (mm)' with a input designed to add the measurement typed by the user in the 
                            'process_config' object within the stepper component's ts code. It's of type number - only accepting that type
                            of value - and has the matInput attribute for style and behavior
                        -->                    
                        <mat-form-field>
                            <mat-label>Fim (mm)</mat-label>
                            <input 
                                type="number"
                                [(ngModel)] = "geometry.end"
                                matInput 
                                required    
                            />
                        </mat-form-field>

                        <!-- 
                            A form field labeled as 'Diâmetro Externo (mm)' with a input designed to add the measurement typed by the user in the 
                            'process_config' object within the stepper component's ts code. It's of type number - only accepting that type
                            of value - and has the matInput attribute for style and behavior
                        -->
                        <mat-form-field>
                            <mat-label>Diâmetro Externo</mat-label>
                            <input 
                                type="number"
                                [(ngModel)] = "geometry.diameter"
                                matInput 
                                required 
                            />
                        </mat-form-field>
                    </div>

                    <mat-divider></mat-divider>
                }
            }
            @else
            {
                <h2>Acrescente a geometria externa de algum trecho</h2>
            }

            <!-- 
                div containing a reset and add button, both being able to edit the step according to the user's wish, allowing more especific interations
                (click) event is binded to certain functions within the stepper's ts code, receiving a string as argument to select which 
                object will have an element added or have all of them removed
            -->
            <div class="step-btns">
                <button color="warn" (click) = "resetGeometry('external')" mat-button>Reiniciar etapa</button>
                <button color="default" (click) = "addNewGeometry('external')" mat-button>Acrescentar geometria de um trecho</button>
            </div>

            <mat-divider></mat-divider>

            <!-- 
                Div that contains the stepper's buttons, having each one an attribute for the action it has to take in the
                stepper 
            -->
            <div class="step-btns">
                <button color="primary" mat-flat-button matStepperPrevious>Anterior</button>
                <button color="primary" mat-flat-button matStepperNext>Próximo</button>
            </div>
        </mat-step>

         <!-- Third step - enter with the product's external dimensions -->
        <mat-step>
            <!-- Title of the step since it's tagged as 'matStepLabel' -->
            <ng-template matStepLabel>Geometria Interna do produto</ng-template>    

            <mat-divider></mat-divider>

            @if (process_config.productsInternalGeometry.length) 
            {
            <!-- 
                ngFor directive with the new syntax from the most recent version of Angular - 17.3.1 -, in the case below, it creates form fields according to parts
                of the object - each input's binded data changes based in it's actual iteration -, allowing the user to create multiple especifications
                toward the process
                productsExternalGeometry is an array of objects within the process_config objects, created to keep the length in which a determined diamater
                is set, according to the data inputed by the user 
             -->
                @for (geometry of process_config.productsInternalGeometry; track process_config.productsInternalGeometry) {

                    <!-- Mat-icon responsible for binding it's own (click) event to an function that removes the determined geometry-->
                    <mat-icon 
                        class="close-icon" 
                        (click) = "removeGeometry('internal', $index)"
                    >
                        close
                    </mat-icon>
                    <p
                        class="geometry-title"
                    >
                        <!-- if the start of the measurement isn't inputed, it just shows '?? mm-?? mm' and, when the user inputs some data, it changes according -->
                        Trecho: {{(geometry?.start != undefined) ? (geometry?.start) : '?? ' }}mm-{{(geometry?.end != undefined) ? (geometry?.end) : '?? '}}mm  
                        (Diâmetro: {{(geometry?.diameter != undefined) ? (geometry?.diameter) : '?? '}})
                    </p>
                    <div
                        class="form-container-3"
                    >
                        <!-- 
                            A form field labeled as 'Início (mm)' with a input designed to add the measurement typed by the user in the 
                            'process_config' object within the stepper component's ts code. It's of type number - only accepting that type
                            of value - and has the matInput attribute for style and behavior
                        -->        
                        <mat-form-field>
                            <mat-label>Início</mat-label>
                            <input 
                                type="number"
                                [(ngModel)] = "geometry.start"
                                matInput 
                                required
                            />
                        </mat-form-field>

                        <!-- 
                            A form field labeled as 'Fim (mm)' with a input designed to add the measurement typed by the user in the 
                            'process_config' object within the stepper component's ts code. It's of type number - only accepting that type
                            of value - and has the matInput attribute for style and behavior
                        --> 
                        <mat-form-field>
                            <mat-label>Fim</mat-label>
                            <input 
                                type="number"
                                [(ngModel)] = "geometry.end"
                                matInput 
                                required    
                            />
                        </mat-form-field>

                        <!-- 
                            A form field labeled as 'Diâmetro Interno (mm)' with a input designed to add the measurement typed by the user in the 
                            'process_config' object within the stepper component's ts code. It's of type number - only accepting that type
                            of value - and has the matInput attribute for style and behavior
                        --> 
                        <mat-form-field>
                            <mat-label>Diâmetro Interno</mat-label>
                            <input 
                                type="number"
                                [(ngModel)] = "geometry.diameter" 
                                matInput 
                                required 
                            />
                        </mat-form-field>
                    </div>

                    <mat-divider></mat-divider>
                }
            }
            @else 
            {
                <h2>Acrescente a geometria interna de algum trecho</h2>
            }
            <!-- 
                div containing a reset and add button, both being able to edit the step according to the user's wish, allowing more especific interations
                (click) property is binded to certain functions within the stepper's ts code, receiving a string as argument to select which 
                object will have an element added or have all of them removed
            -->
            <div class="step-btns">
                <button color="warn" (click) = "resetGeometry('internal')" mat-button>Reiniciar etapa</button>
                <button color="default" (click) = "addNewGeometry('internal')" mat-button>Acrescentar geometria de um trecho</button>
            </div>

            <mat-divider></mat-divider>

            <!-- 
                Div that contains the stepper's buttons, having each one an attribute for the action it has to take in the
                stepper 
            -->            
            <div class="step-btns">
                <button color = "primary" mat-flat-button matStepperPrevious>Anterior</button>
                <button color = "primary" mat-flat-button matStepperNext>Próximo</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Obtenção de parâmetros</ng-template>

            <mat-divider></mat-divider>

            <!--
                Checks if the preLength, preDiameter, condition and material
                are inputed and checks if some geometry has been pushed and,
                if so, check if some field isn't defined - if the conditions
                are true, the user can see the data and, if it isn't, and error message
                appears in the else directive
            -->
            @if
            (
                (process_config.preLength && process_config.preDiameter 
                && process_config.condition && process_config.material && 
                (process_config.productsExternalGeometry.length || 
                process_config.productsInternalGeometry.length)) 
                &&
                ((checkGeometries(process_config.productsExternalGeometry) && 
                !process_config.productsInternalGeometry.length) ||
                (checkGeometries(process_config.productsInternalGeometry) && 
                !process_config.productsExternalGeometry.length) ||
                (checkGeometries(process_config.productsExternalGeometry) &&
                checkGeometries(process_config.productsInternalGeometry)))
            )
            {
                <app-tabs
                    [tabData] = "tabDataCreator(process_config.productsExternalGeometry, 
                    process_config.productsInternalGeometry)"
                ></app-tabs>
            }
            @else {
                <h2>
                    Por favor, preencha todos os campos necessários com valores válidos.
                </h2>
            }
        </mat-step>

    </mat-stepper>
</p>

<!-- 
    The problem may be with the lack of a button to call the function once the variable changes 
    
    1# criar botão que altera o valor da variável capturada pela directiva @for das pastilhas
    filtradas e seus parâmetros

    2# O elemento dentro da primeira iteração receberá a geometria que, em seu interior, será tratada
    e utilizada em função do método de filtro e calcular.

    3# dentro desse elemento, usar insertFiltrateThenCalculate com a geometria do for pai, o process
    config e o tipo de pastilha - externo ou interno - desejado

    4# uma vez que isso seja efetuado, bastará clicar no botão novamente para recarregar o resultado

-->
<!-- 
    1- Para cada geometria - é um array, vai ocorrer algo a cada objeto 
    2 - FaCArray é algo como: 
    [ [ [ins, pam], [ins, pam] ... [ins, pam] ], [ [ins, pam], [ins, pam], ... [ins, pam] ], ... [ [ins, pam], [ins, pam], ... [ins, pam] ] ]
--> 

